__pycache__/
build/
*.so
*.o
python_bladerf/pylibbladerf/pybladerf.cpp
python_bladerf/pybladerf_tools/pybladerf_*.cpp

dist/
.venv/

.DS_Store
.pypirc

python_bladerf.egg-info
python_bladerf/pybladerf_tools/pybladerf_transfer_async.pyx
*.zip
